body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #bba7a7;
    background-image: url(background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no repeat;
}

header {
    background-color: #277fe4;
    color: rgb(162, 100, 39);
    padding: 10px 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

header nav ul {
    list-style-type: none;
    padding: 0;
    margin: 10px 0 0;
}

header nav ul li {
    display: inline;
    margin: 0 15px;
}

header nav ul li a {
    color: rgb(204, 98, 130);
    text-decoration: none;
}

main {
    padding: 20px;
}

h1, h2 {
    color: #e1f815;
}

.workout {
    background-color: rgb(108, 194, 129);
    padding: 20px;
    margin: 10px 0;
    border-radius: 5;